body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(233, 232, 232);
}

::-webkit-scrollbar-thumb {
  background: #949393;
}

.success {
  color: green;
}

.success .pt-icon-ring {
  color: green;
}

.failed {
  color: red;
}

.failed .pt-icon-ring {
  color: red;
}

.skipped {
  color: orange;
}

.skipped .pt-icon-ring {
  color: orange;
}

.spin .pt-icon-refresh {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.warning {
  background: rgba(78, 247, 114, 0.685);
  position: absolute;
}

/*Blueprint js customizations*/

.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content {
  background-color: rgba(196, 79, 89, 0.98);
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.pt-omnibox {
  margin-top: calc(60vh/2);
  width: 500px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
